*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.oq{
    width: 310px;
    height: 310px;
    background-color: white;
    margin-top: 15%;
}
.box{
    width: 100px;
    height: 100px;
    background-color: aqua;
    animation-name: umarof;
    animation-delay: 0.1s;
    animation-duration: 3s;
    position: relative;
    animation-iteration-count: infinite;
    margin: 5px;
}

@keyframes umarof{

    0%   {background-color:aqua; left:0px; top:0px;}
    25%  {background-color:plum; left:200px; top:0px;}
    50%  {background-color:black; left:200px; top:200px;}
    75%  {background-color:orange; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}

}